html, body {
    height: 100%
}

body {
    background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

.debug {
    width: 100px;
    background-color: black;
    font: 10px monospace;
    color: white;
    padding: 0 15px 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.fps {
    width: 50px;
    background-color: black;
    font: 10px monospace;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -500px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    overflow: hidden;
}
