html, body {
    height: 100%
}

body {
    background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

.debug {
    display: block;
    margin: auto;
    height: 100px;
    width: 500px;
    background-color: white;
    padding-left: 20px;
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -500px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD
}

.collide {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 200px;
    background-color: white;
    padding-left: 20px;
}
