<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Jump n' Run</title>
        <link href="public/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <canvas id="game" width='1000' height='500'></canvas>
        <button class="sound"></button>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="public/js/requestNextAnimationFrame.js"></script>
    <script src="public/js/jquery-1.11.1.min.js"></script>
    <script src="public/js/soundjs-0.6.0.min.js"></script>
    <script src="public/js/easeljs-0.8.0.min.js"></script>
    <script src="public/js/game.core.js" type="text/javascript"></script>
    <script src="public/js/player.js" type="text/javascript"></script>
    <script src="public/js/client.js" type="text/javascript"></script>
    <script src="public/js/sound.js"></script>
</html>
