html, body {
    height: 100%
}

body {
    background-color: #EEEEEE;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

#game {
    margin: 50px auto;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    overflow: hidden;
    background-image: url('../images/background.jpg');
}

.sound {
    background-size: 100%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50px;
    left: 10%;
    background-image: url('../images/sound_play.png');
}


.sound.mute {
    background-image: url('../images/sound_mute.png');
}
