html, body {
    height: 100%
}

body {
    background-color: #EEEEEE;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

#game {
    margin: 50px auto;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    overflow: hidden;
}

.sound {
    background-size: 100%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50px;
    left: 10%;
    background-image: url('../assets/images/sound_play.png');
}


.sound.mute {
    background-image: url('../assets/images/sound_mute.png');
}

.lobby {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 100px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.75);
    button {
      margin-top: 13px;
    }
}

.overlay {
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #EEEEEE;
    font: 200 3em 'Raleway', Helvetica;
    div {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      margin: auto;
      width: 500px;
      height: 300px;
    }
}
