html, body {
    height: 100%
}

body {
    background-color: #000000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #EEEEEE;
}

.lobby {
    background-color: #EEEEEE;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 100px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(68,157,68,0.8);
    -moz-box-shadow:    0px 0px 10px 0px rgba(68,157,68,0.8);
    box-shadow:         0px 0px 10px 0px rgba(68,157,68,0.8);
    button {
      margin-top: 13px;
    }
    input:active, input:focus {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(68,157,68,0.4);
        -moz-box-shadow:    0px 0px 10px 0px rgba(68,157,68,0.4);
        box-shadow:         0px 0px 10px 0px rgba(68,157,68,0.4);
        border: 1px solid #449D44;
    }
}

.overlay {
    display: none;
    background-color: rgba(220,220,220,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #EEEEEE;
    font: 200 3em 'Raleway', Helvetica;
    div {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      margin: auto;
      width: 500px;
      height: 300px;
    }
}

.menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -300px;
    background-color: #eee;
    width: 600px;
    height: 0;
    font-size: 50px;
    font-family: "Raleway";
    padding: 0;
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
    box-shadow: 0 0 15px 5px #222;
    opacity: 0;
}

.menu-content {
    height: 90%;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.menu-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.menu-button {
    width: 45%;
    margin: 0 0 10px;
    border: none;
    background: transparent;
}

.menu-button::after {
    content: ' ';
    height: 2px;
    width: 1%;
    background-color: transparent;
    display: block;
    margin: auto;
    transition: width .5s ease;
}

.menu-button.selected::after {
    background-color: #222;
    width: 50%;
}
